version: "3.9"

services:
  mongo:
    image: mongo:6
    container_name: mongo
    restart: always
    volumes:
      - mongo_data:/data/db
    ports:
      - "27017:27017"

  backend:
    image: babludevops701/mean-backend:latest
    container_name: backend
    restart: always
    environment:
      - MONGO_URL=mongodb://mongo:27017/tutorial_db
    depends_on:
      - mongo

  frontend:
    image: babludevops701/mean-frontend:latest
    container_name: frontend
    restart: always
    expose:
      - "80"
    depends_on:
      - backend

  nginx:
    image: nginx:alpine
    container_name: nginx
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - frontend_build:/usr/share/nginx/html
    depends_on:
      - frontend
      - backend

volumes:
  mongo_data:

